{% extends "base.html" %}

{% block body %}
<div class="container border rounded-1 mb-4">
    <div class="border-bottom px-3 py-3 head-color">
        <h6>Entry Form</h6>
    </div>
    <div class="row px-5 pt-4 pb-5">
        <p>The entry form is prepared in two parts, one for the primary Entrant and one for derivatives (if any). Each part must be completed correctly and completely before going to the next part. After all parts are completed, the entry will be submitted to the DV-202X Processing Center. Click the link below to begin the entry process.</p>
        <a href="{% url %}">Begin Entry</a>
    </div>
</div>
{% endblock %}