{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'entry_form/style.css' %}">
  <script src="{% static 'entry_form/entry_form.js' %}" defer></script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mb-5 pb-4">
      <h5>Electronic Diversity Visa Entry Form</h5>
    </div>

    <div class="entrant-info mb-4 d-none">
      <p>If you need to go back and make a correction, do <b>NOT</b> use the back button on your browser. Instead use the appropriate button here or below:</p>
      <button type="button" class="go-back-btn btn text-white btn-primary main-color-hov bg-gradient">Go Back to Part 1</button>
    </div>

    <p id="general-error-msg" class="bg-danger p-3 d-none"><b>At least one data validation error occured on this page. Please scroll down to see the specific error messages.</b></p>

    <div class="text-center">
      <h4>Part One - Entrant Information</h4>
    </div>

    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          1. Name
        </div>
        <div class="card-body p-4">
          <div class="entrant-info d-none">
            <div>
              <div>
                a. Last/Family Name
              </div>
              <div id="lname-info" class="px-4"></div>
            </div>
            <div>
              <div>
                b. First Name
              </div>
              <div id="fname-info" class="px-4"></div>
            </div>
            <div>
              <div>
                c. Middle Name
              </div>
              <div id="mname-info" class="px-4"></div>
            </div>
          </div>

          <div class="entry-form row">
            <div class="col">
              <label for="{{ entrant_form.last_Name.id_for_label }}" class="form-label">{{ entrant_form.last_Name.label }}</label><br>
              {{ entrant_form.last_Name }}
            </div>
            <div class="col">
              <label for="{{ entrant_form.first_Name.id_for_label }}" class="form-label">{{ entrant_form.first_Name.label }}</label><br>
              {{ entrant_form.first_Name }}
              <div class="p-1 small">
                <input type="checkbox" id="no-fname">
                <label for="no-fname" class="form-check-label">No First Name</label>
              </div>
            </div>
            <div class="col">
              <label for="{{ entrant_form.middle_Name.id_for_label }}" class="form-label">{{ entrant_form.middle_Name.label }}</label><br>
              {{ entrant_form.middle_Name }}
              <div class="p-1 small">
                <input type="checkbox" id="no-mname">
                <label for="no-mname" class="form-check-label">No Middle Name</label>
              </div>
            </div>
          </div>

          <div id="name-error-msg" class="mt-3 d-none">
            <p id="lname-error-msg" class="text-danger d-none"></p>
            <p id="fname-error-msg" class="text-danger d-none"></p>
            <p id="mname-error-msg" class="text-danger d-none"></p>
          </div>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          2. Gender
        </div>
        <div class="card-body p-4">
          <div id="gender-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <div class="form-check form-check-inline ps-2">
              <input type="radio" name="gender" value="Male" id="male" required>
              <label for="male" class="form-check-label">
                Male <i class="bi bi-person-standing fs-1 align-middle"></i>
              </label>
            </div>
            <div class="form-check form-check-inline ps-2">
              <input type="radio" name="gender" value="Female" id="female" required>
              <label for="female" class="form-check-label">
                Female <i class="bi bi-person-standing-dress fs-1 align-middle"></i>
              </label>
            </div>
          </div>

          <p id="gender-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          3. Birth Date
        </div>         
        <div class="card-body p-4">
          <div class="entrant-info d-none">
            <span id="bmonth-info"></span> <span id="bday-info"></span>, <span id="byear-info"></span>
          </div>

          <div class="entry-form">
            <div class="d-inline-block pe-4 width-15">
              <label for="{{ entrant_form.birth_month.id_for_label }}" class="form-label">{{ entrant_form.birth_month.label }}</label><br>
              {{ entrant_form.birth_month }}
            </div>
            <div class="d-inline-block pe-4 width-15">
              <label for="{{ entrant_form.birth_day.id_for_label }}" class="form-label">{{ entrant_form.birth_day.label }}</label><br>
              {{ entrant_form.birth_day }}
            </div>
            <div class="d-inline-block pe-4 width-25">
              <label for="{{ entrant_form.birth_year.id_for_label }}" class="form-label">{{ entrant_form.birth_year.label }}</label><br>
              {{ entrant_form.birth_year }}
            </div>
          </div>

          <div id="b-error-msg" class="mt-3 d-none">
            <p id="bmonth-error-msg" class="text-danger d-none"></p>
            <p id="bday-error-msg" class="text-danger d-none"></p>
            <p id="byear-error-msg" class="text-danger d-none"></p>
          </div>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          4. City Where You Were Born
        </div>
        <div class="card-body p-4">
          <div id="bcity-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <p class="mb-2">Enter Birth City Only. Do not enter District/County/Province/State.</p>
            <div>
              <label for="{{ entrant_form.birth_City.id_for_label }}" class="form-label">{{ entrant_form.birth_City.label }}</label><br>
              {{ entrant_form.birth_City }}
              <div class="p-1 small">
                <input type="checkbox" id="no-bcity">
                <label for="no-bcity" class="form-check-label">Birth City Unknown</label>
              </div>
            </div>
          </div>

          <p id="bcity-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          5. Country Where You Were Born
        </div>
        <div class="card-body p-4">
          <div id="bcountry-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            {{ entrant_form.birth_Country }}
          </div>

          <p id="bcountry-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          6. Country of Eligibility for the DV Program
        </div>
        <div class="card-body p-4">
          <div id="elig-country-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <p>Your country of eligibility will normally be the same as your country of birth. Your country of eligibility is <b>NOT</b> related to where you live. If you were born in a country that is not eligible  for the DV program, please go to <a href="" class="text-decoration-none">Explanation of Country of Eligibility</a> to see if there is another option available in your case.</p>
            <div>
              <p class="mb-1">Are you claiming eligibility based on the country where you were born?</p>
              <div class="form-check d-inline-block ps-2">
                <input type="radio" name="bcountry-eligibility" id="yes-bcountry-eligibility" required>
                <label for="yes-bcountry-eligibility" class="form-check-label">Yes</label>
              </div>
              <div class="form-check d-inline-block ps-2">
                <input type="radio" name="bcountry-eligibility" id="no-bcountry-eligibility" required>
                <label for="no-bcountry-eligibility" class="form-check-label">No</label>
              </div>
              <div>
                <label for="{{ entrant_form.eligibility_Country.id_for_label }}" class="form-label">If not, you must enter the country from which you are clainming eligibility.</label>
                {{ entrant_form.eligibility_Country }}
              </div>
            </div>
          </div>

          <p id="elig-country-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          7. Entrant Photograph
        </div>
        <div class="card-body p-4">
          <div class="entrant-info d-none">
            (Photograph received)
          </div>

          <div class="entry-form">
            <p>Photographs must be submitted at the time of eDV entry. Photographs that do not comply with all specifications, including but not limited to recency of the photos (must be taken in the last six months), composition of the photos, and unacceptable backgrounds are grounds for disqualification of the entire entry. Any manipulation of Photographs that alters the facial characteristics is grounds for disqualification of the entire entry. See examples on the <a href="" class="text-decoration-none">Photo Examples</a> page.</p>
            <p>Please refer to the Instructions for the 202X Diversity Immigrant Visa program (DV-202X) for technical specifications and compositional specifications for the digital image.</p>
            <div class="mb-3">
              <p class="mb-1">You will use one of the following methods to enter the image into eDV:</p>
              <ul>
                <li>Take a new digital image.</li>
                <li>Use a digital scanner to scan a recent photograph.</li>
              </ul>
            </div>
            <div class="mb-3">
              <a href="" class="text-decoration-none">Link to Photo Instructions/Photo Examples page</a>
            </div>
            <div class="form-text">
              <p>Clicking the 'Choose New Photo' butoon will allow you to look for and choose the file which is storing the photograph. Once chosen, the file name and the photo will display. If the photo is not correct, please click on the 'Choose New Photo' button to choose a new file.</p>
            </div>
            <div>
              {{ entrant_form.entrant_Photograph }}
              <div class="d-flex mb-3">
                <input type="text" id="entrant-photograph-name" class="border border-secondary rounded-1 px-2" size="33" disabled>
                <button type="button" id="entrant-photograph-trigger" class="border border-secondary rounded-1"><span class="small">Choose New Photo</span></button>
              </div>
              <div>
                <img src="" alt="Entrant Photograph" id="entrant-photograph-show" class="d-none">
              </div>
            </div>
          </div>

          <p id="entrant-photograph-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          8. Mailing Address
        </div>
        <div class="card-body p-4">
          <div class="entrant-info d-none">
            <div>
              <div>
                a. In Care Of (optional)
              </div>
              <div id="in-care-of-info" class="px-4"></div>
            </div>
            <div>
              <div>
                b. Address Line 1
              </div>
              <div id="address-line1-info" class="px-4"></div>
            </div>
            <div>
              <div>
                c. Address Line 2 (optional)
              </div>
              <div id="address-line2-info" class="px-4"></div>
            </div>
            <div>
              <div>
                d. City/Town
              </div>
              <div id="city-info" class="px-4"></div>
            </div>
            <div>
              <div>
                e. District/County/Province/State
              </div>
              <div id="province-info" class="px-4"></div>
            </div>
            <div>
              <div>
                f. Postal Code/Zip Code
              </div>
              <div id="zcode-info" class="px-4"></div>
            </div>
            <div>
              <div>
                g. Country
              </div>
              <div id="country-info" class="px-4"></div>
            </div>
          </div>

          <div class="entry-form">
            <div class="mb-3">
              <label for="{{ mailing_address_form.in_Care_Of.id_for_label }}" class="form-label">a. {{ mailing_address_form.in_Care_Of.label }} (optional)</label><br>
              {{ mailing_address_form.in_Care_Of }}
              <p id="in-care-of-error-msg" class="text-danger d-none"></p>
            </div>
            <div class="mb-3">
              <label for="{{ mailing_address_form.address_Line_1.id_for_label }}" class="form-label">b. {{ mailing_address_form.address_Line_1.label }}</label><br>
              {{ mailing_address_form.address_Line_1 }}
              <p id="address-line1-error-msg" class="text-danger d-none"></p>
            </div>
            <div class="mb-3">
              <label for="{{ mailing_address_form.address_Line_2.id_for_label }}" class="form-label">c. {{ mailing_address_form.address_Line_2.label }} (optional)</label><br>
              {{ mailing_address_form.address_Line_2 }}
              <p id="address-line2-error-msg" class="text-danger d-none"></p>
            </div>
            <div class="mb-3">
              <label for="{{ mailing_address_form.city.id_for_label }}" class="form-label">d. {{ mailing_address_form.city.label }}</label><br>
              {{ mailing_address_form.city }}
              <p id="city-error-msg" class="text-danger d-none"></p>
            </div>
            <div class="mb-3">
              <label for="{{ mailing_address_form.province.id_for_label }}" class="form-label">e. {{ mailing_address_form.province.label }}</label><br>
              {{ mailing_address_form.province }}
              <p id="province-error-msg" class="text-danger d-none"></p>
            </div>
            <div class="mb-3">
              <label for="{{ mailing_address_form.zip_Code.id_for_label }}" class="form-label">f. {{ mailing_address_form.zip_Code.label }}</label><br>
              {{ mailing_address_form.zip_Code }}
              <div class="p-1 small">
                <input type="checkbox" id="no-zcode">
                <label for="no-zcode" class="form-check-label">No Postal Code / Zip Code</label>
              </div>
              <p id="zcode-error-msg" class="text-danger d-none"></p>
            </div>
            <div>
              <label for="{{ mailing_address_form.country.id_for_label }}" class="form-label">g. {{ mailing_address_form.country.label }}</label>
              {{ mailing_address_form.country }}
              <p id="country-error-msg" class="text-danger d-none"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          9. Country Where You Live Today
        </div>
        <div class="card-body p-4">
          <div id="residence-country-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            {{ entrant_form.residence_Country }}
          </div>

          <p id="residence-country-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          10. Phone Number
        </div>
        <div class="card-body p-4">
          <div id="phone-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            {{ entrant_form.phone_Number }}
            <div class="form-text">
              <span class="small">(optional)</span>
            </div>
          </div>

          <p id="phone-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          11. E-mail Address
        </div>
        <div class="card-body p-4">
          <div id="email-address-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <div class="mb-3">
              <label for="{{ entrant_form.email_Address.id_for_label }}" class="form-label">a. {{ entrant_form.email_Address.label }} <span class="user-select-none">(e.g. johndoe@example.com)</span></label><br>
              {{ entrant_form.email_Address }}
            </div>
            <div>
              <label for="email-address-confirm" class="form-label">b. Confirm E-Mail Address</label><br>
              <input type="text" id="email-address-confirm" onpaste="return false;" ondrop="return false;" class="form-control width-60" maxlength="320" autocomplete="off" disabled required>
            </div>
          </div>

          <div class="form-text">
            <span class="small">
              (NOTE: This e-mail address will be used to provide you with additional information if you are selected.)
            </span>
          </div>

          <p id="email-address-error-msg" class="text-danger mt-3 d-none"></p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          12. What is the highest level of education you have achieved, as of today?
        </div>
        <div class="card-body p-4">
          <div id="education-info" class="entrant-info d-none"></div>
				
          <div class="entry-form">
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Primary school only" id="pso" required>
              <label for="pso" class="form-check-label">Primary school only</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="High School, no degree" id="hsnd" required>
              <label for="hsnd" class="form-check-label">High School, no degree</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="High School degree" id="hsd" required>
              <label for="hsd" class="form-check-label">High School degree</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Vocational School" id="vs" required>
              <label for="vs" class="form-check-label">Vocational School</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Some University Courses" id="suc" required>
              <label for="suc" class="form-check-label">Some University Courses</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="University Degree" id="ud" required>
              <label for="ud" class="form-check-label">University Degree</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Some Graduate Level Courses" id="sglc" required>
              <label for="sglc" class="form-check-label">Some Graduate Level Courses</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Master's Degree" id="md" required>
              <label for="md" class="form-check-label">Master's Degree</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Some Doctorate Level Courses" id="sdlc" required>
              <label for="sdlc" class="form-check-label">Some Doctorate Level Courses</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="education_Level" value="Doctorate Degree" id="dd" required>
              <label for="dd" class="form-check-label">Doctorate Degree</label>
            </div>
          </div>

          <p id="education-error-msg" class="text-danger mt-3 d-none"></p>

          <p class="mt-2">
            You must have a minimum of a high school diploma reflecting the completion of a full course of study (vocation schools or equivalency degrees are not acceptable) or be a skilled worker in an occupation that requires at least two years of training or experience to qualify (visit <a href="" class="text-decoration-none">http://www.onetonline.org/</a> to see if your occupation qualifies) for a Diversity Visa.
          </p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          13. What is your current marital status?
        </div>
        <div class="card-body p-4">
          <div id="marital-status-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Unmarried" id="unmarried" required>
              <label for="unmarried" class="form-check-label">Unmarried</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Married and my spouse is NOT a U.S. citizen or U.S. Lawful Permanent Resident (LPR)" id="married-spouse-not" required>
              <label for="married-spouse-not" class="form-check-label">Married and my spouse is NOT a U.S.citizen or U.S. Lawful Permanent Resident (LPR)</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Married and my spouse is a U.S. citizen or U.S. Lawful Permanent Resident (LPR)" id="married-spouse" required>
              <label for="married-spouse" class="form-check-label">Married and my spouse IS a U.S.citizen or U.S. Lawful Permanent Resident (LPR)</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Divorced" id="divorced" required>
              <label for="divorced" class="form-check-label">Divorced</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Widowed" id="widowed" required>
              <label for="widowed" class="form-check-label">Widowed</label>
            </div>
            <div class="form-check ps-2">
              <input type="radio" name="marital_Status" value="Legally Separated" id="legally-separated" required>
              <label for="legally-separated" class="form-check-label">Legally Separated</label>
              <div class="p-1 ps-3 small">
                <input type="checkbox" id="spouse-info" disabled>
                <label for="spouse-info" class="form-check-label">Enter Spouse Information</label>
              </div>
            </div>
          </div>

          <p id="marital-status-error-msg" class="text-danger mt-3 d-none"></p>

          <p class="mt-2">Legal separation is an arrangement when a couple remain married but live apart, following a court order. If you and your spouse are legally separated, your spouse will not be able to immigrate with you through the Diversity Visa program. You will not be penalized if you choose to enter the name of a spouse from whom you are legally separated.</p>
          <p>If you are not legally separated by a court order, you must include your spouse even if you plan to be divorced before you apply for the Diversity Visa. Failure to list your eligible spouse is grounds for disqualification.</p>
          <p>If your spouse is a U.S. citizen or Lawful Permanent Resident, do not list him/her in your entry.</p>
        </div>
      </div>

      <div class="card rounded-1 mb-4">
        <div class="card-header fw-medium head-color">
          14. Number of Children
        </div>
        <div class="card-body p-4">
          <div id="children-number-info" class="entrant-info d-none"></div>

          <div class="entry-form">
            <div class="mb-3">
              {{ entrant_form.children_Number }}
            </div>
          </div>

          <p id="children-number-error-msg" class="text-danger mt-3 d-none"></p>

          <p class="mt-2">Children include all biological children, legally adopted children, and stepchildren who are unmarried and under the age of 21 on the date you submit your entry. You must include all eligible children, even if they do not live with you or if they do not intend to apply for a Diversity Visa as your derivative. Failure to list all eligible children is ground for disqualification. If your child is a U.S. citizen or Lawful Permanent Resident, do not list him/her in your entry.</p>
        </div>
      </div>
    </form>

    <div class="mb-4">
      <button type="button" id="continue-btn" class="btn text-white btn-primary main-color-hov bg-gradient entry-form">Continue</button>
      <button type="submit" id="form-submission" class="entrant-info d-none btn btn-success bg-gradient">Submit</button>
      <button type="button" class="go-back-btn btn text-white btn-primary main-color-hov bg-gradient entrant-info d-none">Go Back to Part 1</button>
      <a href="{% url 'entry_form:begin-template' %}" class="btn text-white btn-primary main-color-hov bg-gradient">Cancel Entry</a>
    </div>
    <p class="entrant-info d-none">Please print this page for your personal records. You will need to use your browser's print button for this.</p>
	
    <hr>

    <p class="small"><b>PAPERWORK REDUCTION ACT:</b> Public reporting burden for this collection of information is estimated to average 30 minutes per response, including time require for searching existing data sources, gathering the necessary documentation, providing the information and/or documents required, and reviewing the final collection. You do not have to supply this information unless this collection displays a currently valid OMB control number. If you have comments on the accuracy of this burden estimate and/or recommendations for reducing it, please send them to: PRA_BurdenComments@state.gov.</p>
    <p class="small"><b>CONFIDENTIALITY STATEMENT:</b> The information asked for on this form is requested pursuant to Section 222 of the Immigrant and Nationality Act. INA Section 222(f) provides that visa issuance and refusal records shall be considered confidential and shall be used only for the formulation, amendment, administration, or enforcement of the immigration, nationality, and other laws of the United States. Certified copies of visa records may be made available to a court which certifies that the information contained in such records is needed in a case pending before the court.</p>
    <p class="small"><b>PRIVACY POLICY:</b> For information on the Department of State's privacy policy, regarding the nature, purpose, use, and sharing of any Personally Identifiable Information (PII) collected via this website please <a href="" class="text-decoration-none">click here.</a></p>
  </div>
{% endblock %}
