{% extends "base.html" %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 87vh;">
        <div class="text-center bg-warning p-4 border border-black border-3">
            <h1 class="">An unexpected error occured.</h1>
            <h4>Please submit a new application.</h4>
            <div class="mt-3">
                <a href="{% url 'entry_form:form-template' %}" class="btn btn-success bg-gradient">Begin Entry</a>
            </div>
        </div>
    </div>
{% endblock %}